
    <div class="deznav">
        <div class="deznav-scroll">
            <ul class="metismenu" id="menu">
                <li><a href="{% url 'eshikshaadminpanelapp:index'%}" aria-expanded="false">
                        <i class="flaticon-025-dashboard"></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>
                <li><a href="{% url 'eshikshaadminpanelapp:contact_us'%}" aria-expanded="false">
                    <i class="fa-regular fa-paper-plane"></i>
                        <span class="nav-text">Contact Us </span>
                    </a>
                <li>
                    <a href="{% url 'eshikshaadminpanelapp:news_letters'%}"  aria-expanded="false">
                    <i class="fa-solid fa-newspaper"></i>
                        <span class="nav-text">News Letters</span>
                    </a>
                <li>
                    <a href="{% url 'eshikshaadminpanelapp:enquiries'%}"  aria-expanded="false">
                        <i class="fa-solid fa-question"></i>
                        <span class="nav-text">Enquiries</span>
                    </a>
                <li>
                    <a href="{% url 'eshikshaadminpanelapp:brouchers'%}"  aria-expanded="false">
                        <i class="fa-regular fa-file-lines"></i>
                        <span class="nav-text">Brouchers</span>
                    </a>
                <li><a href="{% url 'eshikshaadminpanelapp:user_logout' %}" class="ai-icon" aria-expanded="false">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <span class="nav-text">Sign Out</span>
                    </a>
                </li>
        </div>
    </div>
