<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .one {
            -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
            filter: grayscale(80%);
            margin-left: 19px;
            padding-top: 10px;
            padding-bottom: 10px;
            transform: scale(100%);
        }
        .one:hover {
            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
            transition: 2s ease-in;
        }
    </style>
</head>
<body>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="imgs">
                        <img width="300" height="auto" class="one" src="../static/images/Why-Humans-Are-Needed-to-Create-the-Future-of-Artificial-Intelligence_original.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    Prachi
                </div>
                <div class="col-lg-3">
                    sid
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>