{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .hero-wrap{
        height: 350px !important;
    }
</style>
	<section class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/businessman-holding-education-success-icon-education-success-concept-our-own-hands_186616-541.webp');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span>Course Lists <i class="fa fa-chevron-right"></i></span></p>
					<h1 class="mb-0 bread">Our Course</h1>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section bg-light">
		<div class="container">
		  <div class="row justify-content-center">
			
			<div class="col-md-6 col-lg-4">
			  <div class="card mt-3">
				<div class="card-body">
				  <div class="plan-name">
</div>
				  <div class="plan-description">
					<div class="plan-price month">
						<sub></sub></div>
					<p>Great for personal users and the self-employed who are considering analytics and need branding.</p>
				  </div>
				  <div class="plan-description specs">
	  
					
					<br></div>
				  <!-- <div class="plan-cta">
					<p><a class="button" href="#" data-open="get-pro-modal" aria-controls="get-pro-modal" aria-haspopup="true" tabindex="0">Get Started</a></p>
				  </div> -->
				</div>
			  </div>
			</div>
			
		  </div>
		</div>
	  </section>

	{% endblock %}
